<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EZ Bread</title>
</head>
<body>
    <form action="/index" method="POST">
        <ul>
            <li>
                <label for="code">Receipt Code:</label>
                <input type="text" id="code" name="receipt_code">  
            </li>
            <li>
                <button type="submit">Get cheesy!</button>
            </li>
        </ul>
    </form>
</body>
</html>